@import './base.css';

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  background-color: antiquewhite;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  bottom: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    
  }
}
